html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: #fff;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #3cf;
}

a:hover {
    color: #FC3;
    text-decoration: none;
}

img {
    width: 100%;
    overflow: hidden;
}

ul,
li {
    list-style: none;
}

/* ================ End Default Setting ================ */

.topbar-wrapper {
    background-color: #363e42;
}

.topbar-text-wrapper {
    padding: 4px 0px;
}

.topbar-wrapper p {
    margin-bottom: 0;
    font-size: 13px;
    color: #fafafa;
}

.topbar-icon-wrapper {
    text-align: right;
    padding: 4px 0px;
}

.topbar-icon {
    margin-bottom: 0;
}

.topbar-icon li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}

.topbar-icon li a {
    color: #fff;
    font-size: 14px;
    transition: .3s;
}

.topbar-icon li a:hover {
    color: red;
}

/* ================ End Top bar ================ */

.menu-list {
    list-style: none;
}

.menu-list li {
    display: inline-block;
    margin-left: 30px;
}

.menu-list li a {
    color: #fafafa;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .4s;
}

.menu-list li a:hover {
    color: red;
}

.menu-list-wrapper {
    background-color: rgba(29, 29, 29, 0.5);
    padding: 30px;
    position: fixed;
    top: 32px;
    width: 100%;
    z-index: 2;
    transition: .1s;
}

.menu-wrapper {
    text-align: right;
    margin-top: 5px;
}

.menu-list-wrapper h3 {
    color: #fff;
}

/* ================ End Menu ================ */

.edu-info {
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    color: #fafafa;
    font-family: 'poppins';
}

.edu-info i {
    font-size: 55px;
    margin-bottom: 20px;
}

.edu-info h4 {
    margin-bottom: 20px;
    font-size: 18px;
}

.edu-info p {
    line-height: 2;
    font-size: 14px;
}

.owl-carousel .owl-item img {
    height: 600px;
}

/* ================ End EDU Info ================ */

.service-section {
    position: absolute;
    width: 100%;
    top: 730px;
    z-index: 2;
}

.upcoming-meeting {
    background-image: url('../images/meetings-bg.jpg');
    padding-top: 230px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 120px;
    margin-top: -7px;
}

.section-heading h4 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 45px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    padding-bottom: 20px;
    margin-bottom: 40px;
}


.categories {
    background: #fff;
    border-radius: 20px;
    padding: 40px;
    margin-right: 45px;
}

.categories h4 {
    font-size: 18px;
    font-weight: 600;
    color: #1f272b;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.categories li {
    display: inline-block;
    margin-bottom: 15px;
}

.categories li a {
    font-size: 15px;
    color: #1f272b;
    font-weight: 500;
    transition: .3s;
}

.categories li a:hover {
    color: red;
}

.categories ul {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.category-btn {
    margin-top: 20px;
    text-align: center;
}

.category-btn a {
    text-align: center;
    background: #a12c2f;
    color: #fff;
    padding: 12px 30px;
    border-radius: 22px;
    font-size: 13px;
    display: inline-block;
    margin-top: 10px;
}

.meeting-img img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.meeting-content {
    background: white;
    padding: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.meeting-content .date {
    float: left;
    text-align: center;
    margin-right: 20px;
}

.meeting-content h6 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #a12c2f;
}

.meeting-content .date span {
    display: block;
    color: #1f272b;
    font-size: 22px;
    margin-top: 7px;
}

.meeting-content h4 {
    font-size: 18px;
    color: #1f272b;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 15px;
}

.meeting-content p {
    margin-left: 50px;
    color: #1f272b;
    font-size: 14px;
}

.meeting-item {
    position: relative;
}

.meeting-item .price {
    position: absolute;
    top: 20px;
    left: 20px;
}

.meeting-item .price span {
    background-color: rgba(250, 250, 250, 0.9);
    padding: 7px 12px;
    border-radius: 10px;
}


/* ================== Bachelor Degree =================== */
.bachelor-degree {
    background-image: url('../images/apply-bg.jpg');
    padding-top: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 120px;
}

.apply-bd h4 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.apply-bd p {
    color: #fff;
    font-size: 14px;
}

.bg-red {
    background: #a12c2f;
}

.join-us-now-btn {
    text-align: center;
    color: #fff;
    padding: 10px 40px;
    border-radius: 22px;
    font-size: 13px;
    display: inline-block;
    margin-top: 10px;
}

.apply-bd {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
}

.about-edu-meeting {
    border-radius: 20px;
    background: #fff;
    padding: 40px;
}

.about-edu-meeting .accordion .card-header {
    border: 0;
    background: transparent;
}

.about-edu-meeting .accordion .card {
    border: 0;
}

.about-edu-meeting .accordion .collapse-btn:focus {
    outline: none;
    box-shadow: none;
}

.about-edu-meeting .accordion .collapse-btn {
    color: rgb(255, 193, 7);
}

.about-edu-meeting .accordion .collapsed {
    color: #000;
}

/* ================== End Bachelor Degree =================== */

/* ================== Popular Course =================== */
.popular-course {
    background-image: url('../images/meetings-bg.jpg');
    padding-top: 70px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 120px;
}

.popular-course .section-heading h4 {
    text-align: left;
}

.popular-course-content {
    background: #fff;
    text-align: center;
    padding: 20px;
}

.popular-course-content h4 {
    font-size: 18px;
}

.popular-course-footer {
    background-color: #fff;
    border-top: 1px solid #eee;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* ================== End Popular Course =================== */

/* ================== Our Fact =================== */
.our-fact {
    background-image: url('../images/facts-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 140px 0px 125px 0px;
}

.our-fact h2 {
    font-size: 38px;
    color: #fff;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.count-content-area {
    text-align: center;
    background-color: rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    padding: 25px 30px 35px 30px;
    margin: 15px 0px;
}

.percent-counter {
    margin: 5px 0px;
    color: #f5a425;
    font-weight: 700;
    font-size: 36px;
}

.percent-count-title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
}

.new-student {
    margin-top: 45px;
}

.fact-video {
    text-align: center;
    margin-left: 70px;
    background-image: url('../images/video-item-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
}

.fact-video img {
    padding: 170px 0px;
    max-width: 60px;
}

/* ================== End Our Fact =================== */

/* ================== Contact Us =================== */
.contact-us h2 {
    font-size: 22px;
    color: #1f272b;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.contact-us {
    background-image: url('../images/meetings-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 140px 0px 0px 0px;
}

#contact_form {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
}

#contact_form input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #f7f7f7;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: 500;
    color: #1f272b;
    padding: 0px 15px;
    margin-bottom: 30px;
}

#contact_form textarea {
    width: 100%;
    border-radius: 20px;
    background-color: #f7f7f7;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: 500;
    color: #1f272b;
    padding: 15px;
    margin-bottom: 30px;
}

#form_submit {
    font-size: 13px;
    color: #fff;
    background-color: #a12c2f;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 20px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    outline: none;
    transition: .3s;
}

#form_submit:hover {
    background-color: #363e42;
    color: #fff;
}

.right-info {
    background-color: #a12c2f;
    border-radius: 20px;
    padding: 40px;
}

.right-info ul li h6 {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.right-info ul li span {
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

.right-info ul li {
    display: inline-block;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    margin-bottom: 30px;
    padding-bottom: 30px;
}

/* ================== End Contact Us =================== */
/* ================== Footer =================== */
.footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.footer {
    text-align: center;
    margin-top: 140px;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    padding: 50px 0px;
}

/* ================== End Footer =================== */
